comfyui
comfyui-frontend-package@git+https://github.com/AppMana/appmana-comfyui-frontend.git#796787ffb4603e182415dbc9632160741fa29f94&subdirectory=comfyui_frontend_package
opencv-python-headless>=4.9.0.80
diffusers>=0.29.0
